* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#navbar {
    background: linear-gradient(
        to bottom,
        rgb(26, 255, 5),
        rgb(137, 77, 31)
    );
    display: flex;
    justify-content: space-between ;
    align-items: center;
}

#navbar a {
    text-decoration: none;
    color: aliceblue;
    padding: 24px;
}

#navbar #logo-container {
    margin-right: auto;
}

#navbar #logo-container img {
    width: 200px;
}

#navbar .cta-button {
    background-color: white;
    color: rgb(19, 161, 45);
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
    margin-left: 24px;
}

#contrast-hero {
    background-image: url("../images/kasia-sikorska.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    
    display: flex;
    justify-content: center;
    align-items: first baseline;
}

#contrast-hero .hero-content {
    color: rgb(21, 143, 29);
    text-align: center;
}

.hero-content h1 {
    font-size: 4vh;
    text-decoration: underline;
}

#button-section .button {
    font-size: 2vh;
    text-decoration: none;
    display: inline-block;
    margin: 12px;
    background-color: green;
    padding: 10px;
    color: rgb(255, 145, 0);
    border-radius: 20px; 
}