@import url('https://fonts.googleapis.com/css2?family=Rubik+Burned&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.single-column {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.light-outer-container {
    background-color: rgb(253, 253, 0);
    padding: 48px 24px;
}

.dark-outer-container {
    background-color: rgb(51, 17, 83);
    padding: 48px 24px;
    color: rgb(255, 158, 158);
}  

h2 {
    font-family: "Rubik Burned", system-ui;
}