* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.color-pallette {
    box-shadow: 6px 6px 12px #989898;
    margin: 24px;
    padding: 24px;
    text-align: center;
}

.color {
    margin: 0px;
    padding: 24px;
}

#color-1 {
    background-color: #73FBD3;
}

#color-2 {
    background-color: #44E5E7;
}

#color-3 {
    background-color: #59D2FE;
}

#color-4 {
    background-color: #E09F7D;
   
}

#color-5 {
    background-color: #EF5D60;
}

#color-6 {
    background-color: #EC4067;
}

#color-7 {
    background-color: #EF798A;
    
}

#color-8 {
    background-color: #F7A9A8;
}

#color-9 {
    background-color: #613F75;
}
